
<div class="container">
  <h1><%= @hint %></h1> </br>
  <p>The correct answer is <%= @answer %></p> </br>
  <p>Your answer was <%= @type %></p> </br></br>

  <h2>You have <%=@guesses_left %> guesses left. </h2> </br>
  <p> <%= @message %> </p><br><br></br>
  <a href="/card/#{@next_card_id} %>">Next Card</a>
</div>



